<h2 class="public-title">Recipes</h2>
<ul class="center">
    <li>
        <form action="/stories/search/:query" method="GET">
            <div class="input-search">
                <div>
                    <input type="search" name="query" placeholder="Search by Title or Keyword" minlength="3" size="70">
                </div>
                <button class="btn search-btn" type="submit">&nbsp;Search&nbsp;</button>
            </div>
        </form>
    </li>
</ul>
<div class="row">
    {{#each stories}}
        <div class="s12 m4">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content">
                    <div class="chip">
                        <img src="{{user.image}}">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                    <h5 class="recipe-title">{{title}}</h5>
                    <p>{{stripTags (truncate body 400)}}</p>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn grey">View Full Recipe</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No stories to display.</p>
    {{/each}}
</div>