<div class="row">
    <div class="s12 m8">
        <h3 class="default-title center">{{story.title}}&nbsp;
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title story-title">{{formatDate date 'MMMM Do YYYY, hh:mm A'}}</span>
                {{{story.body}}}
            </div>
            <div class="card-action">
                <p class="share-recipe">&#8595; &nbsp;&nbsp; SHARE THIS RECIPE &nbsp;&nbsp; &#8595;</p>
                <ul class="social-group">
                    <li><i id="social" class="fab fa-twitter"></i></li>
                    <li><i id="social" class="fab fa-instagram"></i></li>
                    <li><i id="social" class="fab fa-facebook-f"></i></li>
                    <li><i id="social" class="fab fa-whatsapp"></i></li>
                    <li><i id="social" class="fab fa-pinterest"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title story-title">{{story.user.displayName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user._id}}" class="more-from">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>